@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("./modules/header.css");

  @font-face {
    font-family: "regularFanum";
    src: url("../files/fonts/fanum/regular-fanum.woff2");
  }

  @font-face {
    font-family: "mediumFanum";
    src: url("../files/fonts/fanum/medium-fanum.woff2");
  }

  @font-face {
    font-family: "boldFanum";
    src: url("../files/fonts/fanum/bold-fanum.woff2");
  }

  @font-face {
    font-family: "extraboldFanum";
    src: url("../files/fonts/fanum/extrabold-fanum.woff2");
  }
}

@layer components {
  .text-direction-ltr {
    direction: ltr;
  }

  ::-webkit-scrollbar {
    width: 0.4vw;
  }

  ::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c5c7c9;
    border-radius: 4px;
  }

  .banner-img-wrapper {
    display: block;
    min-height: 217px;
  }
}
