@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "regularFanum";
    src: url("../../files/fonts/fanum/regular-fanum.woff2");
  }

  @font-face {
    font-family: "mediumFanum";
    src: url("../../files/fonts/fanum/medium-fanum.woff2");
  }

  @font-face {
    font-family: "boldFanum";
    src: url("../../files/fonts/fanum/bold-fanum.woff2");
  }

  @font-face {
    font-family: "extraboldFanum";
    src: url("../../files/fonts/fanum/extrabold-fanum.woff2");
  }
}

@layer components {
  .text-direction-ltr {
    direction: ltr;
  }
}
